<p>Welcome to KrispyChik</p>
<p>Please SignIn here!!!</p>
<form>  
    <div class="container">   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="usr.UserName">  <br><br>
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="usr.Password">  <br><br>
        <button  (click)="submit()">Login</button>   <br><br>
        <label>New User?: </label>
        <button><a routerLink="../signup">SignUp</a></button>

         
    </div>   
</form>     

