<p>Welcome to KrispyChik</p>
<p>Please SignIn here!!!</p>
<form>  
    <div class="container">   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" required>  <br><br>
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  <br><br>
        <button type="submit">Login</button>   <br><br>
        <label>New User?: </label>
        <button type="submit"><a routerLink="../signup">SignUp</a></button>

        
    </div>   
</form>     

