
<p>Enter your details here!!!</p>
<form>  
    <div class="container">   
        <label>Enter your name: </label>   
        <input type="text" placeholder="Enter Username" name="username" required>  <br><br>
        <label>Please create your password </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  <br><br>
        <label>Please give your email</label>
        <input type="email" placeholder="Enter email" name="email" required> <br> <br>
        <label>Please enter your address</label>
        <input type="address" placeholder="Enter your address" name="address" required> <br><br>
        <label>Please enter your valid phone number</label>
        <input type="number" placeholder="Enter phone number" name="phonenumber" required> <br><br>

        <button type="submit">Register</button>   <br><br>
        <button type="submit"><a routerLink="../signin">SignIn</a></button>

        
    </div>   
</form>     
